<h2><p><%= @name %>の箱</p></h2>
<%= form_for @conn, "/#{@name}/ask", [as: :box], fn f -> %>
  <input type="text" name="item">
  <input type="submit" value="を恵んでくれ">
<% end %>

<%= for {item, count} <- @items do %>
  <%= form_for @conn, "/#{@name}/give", [as: :box], fn f -> %>
    <%= item %>
    <input type="hidden" name="item" value="<%= item %>">
    <input type="submit" value="を恵む">
    現在: <%= count-1 %>個
  <% end %>
<% end %>
