<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="相互恵みプラットフォーム">
    <meta name="author" content="">

    <% site_name = Application.get_env(:koubo, :site_name) %>
    <% title = @view_module.title(@view_template, assigns) %>
    <% description = @view_module.description(@view_template, assigns) %>
    <% url = url(@conn) %>
    <title><%= title %></title>
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="<%= site_name %>" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:description" content="<%= description %>">
    <meta property="og:image" content="<%= url %><%= static_path(@conn, "/images/koubo.png") %>" />
    <meta name="twitter:card" content="summary" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-light bg-light justify-content-between">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="<%= static_path(@conn, "/images/koubo.svg") %>" width="30" height="30" alt="brand">
        酵母スペース
      </a>
      <%= form_for @conn, "/", [as: :box, class: "form-inline"], fn _ -> %>
        <input name="name" class="form-control mr-sm-2" type="text" placeholder="箱の名前" aria-label="箱の名前">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">移動</button>
      <% end %>
    </div>
    </nav>
    <div class="container">
      <div class="jumbotron mt-3">
        <%= render @view_module, @view_template, assigns %>
      </div>
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
