<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="相互恵みプラットフォーム">
    <meta name="author" content="">

    <% site_name = Application.get_env(:koubo, :site_name) %>
    <% title = @view_module.title(@view_template, assigns) %>
    <% description = @view_module.description(@view_template, assigns) %>
    <% url = url(@conn) %>
    <title><%= title %></title>
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="<%= site_name %>" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:description" content="<%= description %>">
    <meta property="og:image" content="<%= url %><%= static_path(@conn, "/images/koubo.png") %>" />
    <meta name="twitter:card" content="summary" />

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <h1><a href="/">酵母スペース</a></h1>
    <%= render @view_module, @view_template, assigns %>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
